html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.box {
    max-width: 1280px;
    font-weight: 200;
    margin: 0 auto;
    font-family: 'Baloo Da 2', cursive;
    text-align: top;
}
.titl {
    font-size: 80pt;
    text-align: center;
}
.intitl {
    color: #4bcaff;
}
.menu1 {
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    background: #35444f;
    margin: 0px 0px 0px 0px;
}
.inmenu {
    display: inline-block;
    padding: 26px 0px 21px 0px;
    border-width: 2px;
    border-color:#35444f ;
}
.inmenu1 {
    margin: 26px 42px 20px 42px;
}
.menu1 div:hover {
    background-color: #222f3a;
    border-width: 2px;
    border-color: #818181;
}
.menu2 {
    display: inline-block;
    margin: 51px 50px 0px 0px;
    margin-top: 0px;
    font-size: 22px;
    color: rgba(53, 68, 79, 255);
    text-align: left;
    border-width: 1px;
    border-style: solid;
    vertical-align: top;
    margin-top: 51px;
    width: 330px;
}
.inmenu2 {
    display: block;
    padding: 30px 0px 29px 44px;
}
.inmenu2:hover {
    transition: 1.1s;
    padding: 30px 0px 29px 64px;
    background-color: #dbdbdb;
}
.koz {
    display: inline-block;
    margin-bottom: 0px;
    margin: 50px 0px 0px 0px;
    border-width: 1px;
    border-style: solid;
    width: 870px;
    text-align: center;
}
.koza {
    padding: 75px 0px 73px 0px;
    width: 320px;
    height: 381px;
}
.koza:hover {
    transition:1.1s;
    transform: scale(1.25);
}
.mid {
    margin: 51px 0px 0px 0px;
}
.abz1 {
    font-size: 18pt;
    color: rgba(44, 44, 44, 255);
    text-align: left;
    margin: 50px 39px 30px 426px;
}
.abz2 {
    font-size: 18pt;
    color: rgba(44, 44, 44, 255);
    text-align: left;
    margin: 0px 39px 30px 426px;
}
.foot {
    font-size: 28px;
    color: rgba(12, 25, 39, 255);
    text-align: left;
    background-color: #b4b7ba;
    margin: 21px 0px;
}
.infoot1 {
    display: inline-block;
    margin: 20px 0px 20px 0px;
}
.infoot {
    margin: 22px 8px 20px 8px;
}
.infoot2 {
    font-size: 28px;
    color: rgba(1, 1, 1, 255);
    text-align: right;
    margin: 0px 8px 20px 200px;
}
.infoot1 a:hover {
    color: #3181a6;
    text-decoration: underline;
}
a {

    cursor: pointer;
}