* {
    margin: 0;
}
.bod {
    max-width: 1280px;
    padding: 0 500 0 200;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0 auto;
    font-size: 16pt;
    line-height: 2;
    letter-spacing: 1.5px;
}
.ashki {
    padding: 35px 0;
}
.persha {
    margin: 0px 100px 0px 9%;
    color: #1b9d81;
    font-size: 18px;
}
.druga {
    margin: 0px 100px 0px 9%;
    color: #1b9d81;
    font-size: 18px;
}
.tretya {
    margin: 0px 100px 0px 9%;
    color: #1b9d81;
    font-size: 18px;
}
.chetwerta {
    margin: 0px 100px 0px 9%;
    color: #1b9d81;
    font-size: 18px;
}
h4 {
    margin: 0;
    padding: 56px 0 34px;
    font-size: 22px;
    color: rgba(55, 55, 55, 255);
}
.foto {
    height: 480px;
    width: 100%;
}
.foto>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text {
    background-color: #f5f6f8;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
    margin: 0 auto;
}
p {
    margin-bottom: 41px;
}
.knopka {
    width: 300;
    height: 80;
    margin: 0 auto;
    padding: 20px 44px;
    background-color: #16a086;
    color: #ffffff;
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
}
.btn-wrapper {
    padding-bottom: 94px;
}
.niz {
    background-color:#ffffff;
    margin: 200 auto;
    font-size: 16pt;
}
.niz>p {
    padding-top: 47px;
}